.vscode/**
.vscode-test/**
src/**
tests/**
.gitignore
.yarnrc
tsconfig.json
jest.config.js
**/*.ts
**/*.map
**/.eslintrc.json
specs/**
.specify/**
node_modules/**/.bin
node_modules/**/test
node_modules/**/tests
**/*.test.ts
coverage/**
.nyc_output/**
